

ul{
  display:flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
}
.principal{
  display: flex;
  flex-direction:row;
 


}
.pokemon{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex-direction:row;
  padding: 20px;
}

.card{
  width:6rem;
  box-sizing: border-box;
  background-color: #cee8f0;
  border-radius: 20px;
  border: solid 1px;
   
}


.fondo{
  background-image:image
}